@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111827;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --dark-primary: #0B132B ;

  --secondary: #eff6ff;
  --muted: #f8fafc;

  --border: #e5e7eb;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-white text-slate-900;
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
}
.dark body {
  @apply bg-slate-900 text-slate-100;
  background: var(--dark-primary);
  color: #f8fafc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

button {
  cursor: pointer;
}